.trackInfo{
    padding-top: 4px;
    width: 90%;
}

.trackInfo h2{
    font-size: 1.2rem;
}

.trackInfo h3{
    font-size: 1rem;
}

.track{
    width: 85%;
    height: 70px;
    margin: 10px auto;
    background-color: rgba(104, 22, 105, 0.884);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
}

.track h2{
    padding: 0;
    margin: 0;
}

.track h3{
    margin-top: 10px;
}

._button {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

._button button{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 1.5rem;
    background-color: #1DB954;
    color: white;
    border-color: transparent;
    text-align: center; 
    line-height: 20px;
}

._button button:hover{
    background-color: #191414;
}