body{
  background-image: url('./images/backgroundImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.containers{
  width: 70%;
  background-color: #00000077;
  border-radius: 10px;
  display: flex;
  margin: 70px auto;
  height: 700px;
  justify-content: space-between;
  padding: 20px;
}